<div id="footer">
    <div class="container">
        <div class="row">
            <div class="menu-footer col-12 col-md-6">
                <h3>Sobre Ubox</h3>
                <p>Prestamos todos los servicios logísticos a nivel nacional e internacional que den respuesta a las
                    necesidades logísticas de nuestros clientes, enfocándonos en la seguridad de la mercancía, de la
                    información y de los recursos utilizados en cada proceso.</p>
            </div>
            <div class="menu-footer col-12 col-md-3">
                <h3 class="margined_left">Menú</h3>
                <ul>
                    <li routerLink="/inicio"><a>Servicios</a></li>
                    <li routerLink="/servicios"><a>Ventajas</a>
                    </li>
                    <li routerLink="/cotizar"><a>Cotizar</a>
                    </li>
                    <li routerLink="/contacto"><a>Contacto</a>
                    </li>
                    <li routerLink="/cotizar-bodega"><a>Busca tu bodega</a>
                    </li>
                    <!-- <li><a>Login</a></li> -->
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <h3>Contacto</h3>
                <div class="icon_phone">+57 1 745-2882</div>
                <div class="icon_mail">info.ubox.com@gmail.com</div>
                <div class="icon_loc">Calle 23 No. 116 - 31<br>Oficina 301<br>Bogotá, Colombia</div>
            </div>
        </div>
    </div>
    <div class="footer_btm">
        <div class="container">
            <div class="row justify-content-between">
                <div id="powered">© 2020 <a href="http://www.ubox.com.co" target="_blank">Ubox</a> &nbsp; | &nbsp;
                    <a href="http://www.ubox.com.co" target="_blank" style="opacity: 1;"> Ubox</a></div>

                <div>
                    <a target="_blank" href="callto:jefeseguridad-nexoscargo" class="icon_skype" title="Skype">skype</a>
                    <a target="_blank" href="https://twitter.com/nexoscargo" class="icon_twitter" title="Twitter"
                        style="opacity: 1;">twitter</a>
                    <a target="_blank" href="https://www.facebook.com/pages/Nexos-Cargo/1439666839594853"
                        class="icon_facebook" title="Facebook" style="opacity: 1;">facebook</a>
                </div>
            </div>
        </div>
    </div>

</div>
