<section>
    <div class="container-servicios">
        <div
            style="background: url(/assets/imagenes/servicios/fondo.jpeg) 50% 65px / cover no-repeat fixed; padding: 26px 0 10px;">
            <div class="container">
                <div class="row">
                    <div class="section_big_title ">
                        <h1>Nuestros <strong>servicios</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container contenido">
            <div class="row">
                <div class="col-12 col-md-6  iconed_featured_text">
                    <span class="icon_feat  accent_color">
                        <i class="fa fa-globe-americas"></i>
                    </span>
                    <h3>Importaciones y exportaciones</h3>
                    <p class="iconed_featured_text_p">Cubrimos cualquier operación multimodal desde y hacia cualquier
                        parte
                        del mundo. Contamos con transporte marítimo, aéreo y terrestre; y con una consolidada red de
                        agentes
                        a nivel mundial.</p>
                </div>
                <div class="col-12 col-md-6 iconed_featured_text">
                    <span class="icon_feat  accent_color">
                        <i class="fa fa-truck"></i>
                    </span>
                    <h3>Transporte de carga (peligrosa, extra-pesada, extra-dimensionada y general)</h3>
                    <p class="iconed_featured_text_p">Contamos con una flota y equipos cama baja y modulares,
                        adicionalmente
                        técnicos viales y carros escolta. Somos especialistas en el manejo de químicos según el decreto
                        1609
                        de 2002..</p>
                </div>
                <div class="col-12 col-md-6 iconed_featured_text">
                    <span class="icon_feat  accent_color">
                        <i class="fa fa-clipboard"></i>
                    </span>
                    <h3>Proyectos</h3>
                    <p class="iconed_featured_text_p">Estructuramos e integramos su cadena logística desde el transporte
                        internacional, la nacionalización, el almacenamiento, el inventario, alistamiento y
                        distribución.</p>
                </div>
                <div class="col-12 col-md-6 iconed_featured_text">
                    <span class="icon_feat  accent_color">
                        <i class="fa fa-info"></i>
                    </span>
                    <h3>Operaciones especiales</h3>
                    <p class="iconed_featured_text_p">Alquiler de equipos de transporte cabezotes, tanques, cama bajas y
                        administración de conductores y técnicos especializados en operaciones logísticas, control y
                        seguimiento de carga criticas.</p>
                </div>
                <div class="col-12 col-md-6 iconed_featured_text">
                    <span class="icon_feat  accent_color">
                        <i class="fa fa-archive"></i>
                    </span>
                    <h3>Almacenamiento</h3>
                    <p class="iconed_featured_text_p">Servicio de almacenamiento en zona franca y bodega Nacional,
                        administración de inventarios y logística de despacho y recepción de mercancía.</p>
                </div>
                <div class="col-12 col-md-6 iconed_featured_text">
                    <span class="icon_feat  accent_color">
                        <i class="fa fa-folder-open"></i>
                    </span>
                    <h3>Agenciamiento aduanero</h3>
                    <p class="iconed_featured_text_p">Servicios VUCE-FUSE.- Clasificación arancelaria, preparación de
                        Licencia de Importación, Certificados de Origen, diligenciamiento de vistos buenos o
                        autorizaciones de entidades sanitarias y de control.</p>
                </div>
            </div>
            <div class="row strech">
                <div class="text_box">
                    <a class="button button_hilite small_button">Cotizar</a>
                    <h2>Costos</h2>
                    <p>Trabajamos para ofrecer asesorías y servicios personalizados para cada uno de nuestros clientes.
                        Si quieres conocer el costo de nuestros servicios, envíanos una descripción de tus necesidades y
                        recibirás una solución pensada en ti.</p>
                </div>
            </div>
        </div>
    </div>
</section>