<section class="demo-wrap">
  <div class="container-servicios inicio-banner">
    <div
      style="background: url(/assets/imagenes/servicios/fondo.jpeg) 50% 65px / cover no-repeat fixed; padding: 26px 0 10px;">
      <div class="container">
        <div class="row">
          <div class="section_big_title ">
            <h1>Ventajas <strong>estrategicas</strong></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container contenido">
      <div class="row">
        <div class="col-12 col-md-6  iconed_featured_text">
          <span class="icon_feat  accent_color">
            <i class="fa fa-globe-americas"></i>
          </span>
          <h3>Servicio Personalizado</h3>
          <p class="iconed_featured_text_p">Recogemos, empacamos y almacenamos todas aquellas cosas que necesitas
            guardar por falta de espacio, viajes, remodelaciones o por la entrega de tu nueva casa </p>
        </div>
        <div class="col-12 col-md-6 iconed_featured_text">
          <span class="icon_feat  accent_color">
            <i class="fa fa-truck"></i>
          </span>
          <h3>Inventario en Línea</h3>
          <p class="iconed_featured_text_p">Tienes la posibilidad de ver todos los artículos que tienes almacenados y
            solicitar que los llevemos a tu casa en el momento que lo necesites</p>
        </div>
        <div class="col-12 col-md-6 iconed_featured_text">
          <span class="icon_feat  accent_color">
            <i class="fa fa-clipboard"></i>
          </span>
          <h3>Flexibilidad</h3>
          <p class="iconed_featured_text_p">Contamos con espacios flexibles des 1m3, los cuales puedes agrandar o
            reducir en cualquier momento </p>
        </div>
        <div class="col-12 col-md-6 iconed_featured_text">
          <span class="icon_feat  accent_color">
            <i class="fa fa-info"></i>
          </span>
          <h3>Sin Clausulas de Permanencia</h3>
          <p class="iconed_featured_text_p">No tenemos clausulas de permanecía ni contratos
          </p>
        </div>
        <div class="col-12 col-md-6 iconed_featured_text">
          <span class="icon_feat  accent_color">
            <i class="fa fa-archive"></i>
          </span>
          <h3>Cargo Fijo sin adicionales</h3>
          <p class="iconed_featured_text_p">La tarifa es única y no varia</p>
        </div>
        <div class="col-12 col-md-6 iconed_featured_text">
          <span class="icon_feat  accent_color">
            <i class="fa fa-folder-open"></i>
          </span>
          <h3>Instalaciones Seguras</h3>
          <p class="iconed_featured_text_p">Contamos con circuito cerrado de televisión, seguridad privada y vigilancia
            24 horas lo que nos permite garantizar la seguridad de tu mercancía.</p>
        </div>
      </div>
      <!-- <div class="row strech">
        <div class="text_box">
          <a class="button button_hilite small_button">Cotizar</a>
          <h2>Costos</h2>
          <p>Trabajamos para ofrecer asesorías y servicios personalizados para cada uno de nuestros clientes.
            Si quieres conocer el costo de nuestros servicios, envíanos una descripción de tus necesidades y
            recibirás una solución pensada en ti.</p>
        </div>
      </div> -->
    </div>
  </div>
</section>