@import "media-content";

.container-servicios {
    padding-top   : 20px;
    padding-bottom: 1px;
}

.contenido {
    margin-top   : 50px;
    margin-bottom: 10px;
}

.row {
    margin-bottom  : 20px;
    justify-content: center;
    flex-wrap      : wrap;

    &.strech {
        margin-left : 10px;
        margin-right: 10px;

        .text_box {
            border       : 1px solid var(--color-text-afeter);
            border-left  : 3px solid var(--color-text-a-hover);
            padding      : 26px 28px 20px 34px;
            margin       : 32px 0 32px;
            overflow     : hidden;
            background   : var(--color-gray-other);
            border-radius: 4px;
            width        : 100%;

            h2 {
                font-family   : OpenSansSemiBold, sans-serif;
                font-size     : 24px;
                text-transform: uppercase;
            }

            p {
                font-size  : 12.5px;
                color      : var(--color-text-p);
                opacity    : 0.9;
                font-family: OpenSansLight, sans-serif;
            }

            .button {
                float            : right;
                margin           : 0 0 20px 72px;
                color            : var(--color-white);
                background-color : var(--color-text-a-hover);
                border-radius    : 30px;
                text-shadow      : 0px 1px 2px rgb(0 0 0 / 20%);
                cursor           : pointer;
                transition       : all 0.2s linear;
                background-image : -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1));
                background-repeat: repeat-x;
                text-decoration  : none;
                font-size        : 15px;
                padding          : 10px 22px;
                line-height      : 16px;
                text-transform   : uppercase;
                font-family      : OpenSansSemiBold, sans-serif;

                &:hover {
                    color           : #fff;
                    background-color: #444444;
                }
            }
        }
    }
}

.section_big_title {
    text-align    : center;
    margin        : 6px 0 42px;
    padding-bottom: 8px;
    overflow      : hidden;
    font-family   : OpenSansBold, sans-serif;

    strong {
        color: var(--color-text-a-hover);
    }


    h1 {
        margin             : 52px 0 0;
        padding-bottom     : 16px;
        line-height        : 64px;
        color              : #222;
        letter-spacing     : 0px;
        text-transform     : uppercase;
        letter-spacing     : 1px;
        -webkit-text-stroke: 0px;
        font-weight        : 400;
        position           : relative;
        font-size          : 44px;

        @include media-tablet {
            font-size: 48px;
        }

        @include media-pc {
            font-size: 48px;
        }

        &::after {
            display         : block;
            content         : "";
            width           : 80px;
            height          : 4px;
            background-color: var(--color-text-afeter);
            background-color: rgba(0, 0, 0, 0.07);
            position        : absolute;
            bottom          : 2px;
            left            : 50%;
            margin-left     : -40px;
        }
    }
}

.iconed_featured_text_p {
    margin     : 0 12px 20px 55px;
    color      : var(--color-text-p);
    font-size  : 13.5px;
    font-family: OpenSansLight, sans-serif;
    text-align : left;
    line-height: 25px;
}

.iconed_featured_text {

    .icon_feat {
        float        : left;
        margin       : 0px 16px 0px 0;
        width        : 40px;
        height       : 40px;
        position     : relative;
        text-align   : center;
        border-radius: 30px;

        .fa {
            font-size: 25px;
            color    : var(--color-text-a-hover);
        }
    }

    h3 {
        font-weight   : 400;
        font-size     : 20px;
        line-height   : 26px;
        margin-left   : 54px;
        text-transform: uppercase;
        font-family   : OpenSansSemiBold, 'sans-serif';
    }
}