:root {
    --color-white       : #fff;
    --color-gray        : #fbfbfb;
    --color-text        : #444;
    --color-text-afeter : #eee;
    --color-text-two    : #333;
    --color-text-gray   : #888;
    --color-text-a-hover: #e9c31e
}