:root {
    --color-white       : #fff;
    --color-gray        : #fbfbfb;
    --color-gray-other  : #fafafa;
    --color-text        : #444;
    --color-text-p      : #555;
    --color-text-afeter : #eee;
    --color-text-two    : #333;
    --color-text-gray   : #888;
    --color-text-a-hover: #e9c31e;
    --color-body        : #f6f6f6
}