<section class="demo-wrap">
  <div class="contaner-contacto inicio-banner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <h2 class="left_title">COTIZA TU ESPACIO</h2>
          <form novalidate [formGroup]="formItems" class="login-form" (ngSubmit)="addtoCar()">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Categoria</label>
              <select class="form-control" formControlName="category" id="exampleFormControlSelect1">
                <option *ngFor="let category of categories" [value]="category.value">
                  {{ category.label}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Producto</label>
              <select class="form-control" formControlName="item" id="exampleFormControlSelect1">
                <ng-container *ngFor="let subcategory of subcategories">
                  <option *ngIf="subcategory.fatherId == formItems.value.category" [value]="subcategory.id">
                    {{ subcategory.label}}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="container-button">
              <button type="submit" class="btn btn-primary" [disabled]="formItems.invalid">Agregar</button>
            </div>
            <div *ngIf="selectedItems.length>0">
              <h4>Listado</h4>
              <div class="listado bg-info">
                <div *ngFor="let item of selectedItems, let i = index" class="alert alert-primary items" role="alert">
                  {{item.label}}
                  <img src="assets/imagenes/close.png" class="img-close" (click)="deletefromCar(i)">
                </div>
                <div class="alert alert-warning total" role="alert">
                  Necesitas una bodega de ({{cellar}} m3) {{ total | currency}}
                </div>
              </div>
            </div>
          </form>
          <div *ngIf="selectedItems.length>0">
            <h4> Para continuar llena el siguiente formulario</h4>
            <form novalidate [formGroup]="formContacto" class="login-form" (ngSubmit)="contacto()">
              <div class="form-group">
                <input type="text" class="form-control" autocomplete="off" [class.error]="
                    formContacto.controls.nombre.invalid &&
                    (formContacto.controls.nombre.dirty ||
                      formContacto.controls.nombre.touched)
                  " id="nombre" aria-describedby="emailHelp" formControlName="nombre" placeholder="Nombre" />
                <div class="error-formulario">
                  <ng-container *ngFor="let validation of cotizarValidaciones.nombre">
                    <span class="error-message" *ngIf="
                        formContacto.controls.nombre.hasError(validation.type) &&
                        (formContacto.controls.nombre.dirty ||
                          formContacto.controls.nombre.touched)
                      ">
                      {{ validation.message }}
                    </span>
                  </ng-container>
                </div>
              </div>
              <div class="form-group">
                <input (focus)="focusedEmail = true" (blur)="focusedEmail = false" type="email" class="form-control"
                  autocomplete="off" [class.error]="
                    !focusedEmail &&
                    formContacto.controls.email.invalid &&
                    (formContacto.controls.email.dirty ||
                      formContacto.controls.email.touched)
                  " id="email" aria-describedby="emailHelp" formControlName="email" placeholder="Email" />
                <div class="error-formulario">
                  <ng-container *ngFor="let validation of cotizarValidaciones.email">
                    <span class="error-message" *ngIf="
                        !focusedEmail &&
                        formContacto.controls.email.hasError(validation.type) &&
                        (formContacto.controls.email.dirty ||
                          formContacto.controls.email.touched)
                      ">
                      {{ validation.message }}
                    </span>
                  </ng-container>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" autocomplete="off" [class.error]="
                    formContacto.controls.asunto.invalid &&
                    (formContacto.controls.asunto.dirty ||
                      formContacto.controls.asunto.touched)
                  " id="asunto" aria-describedby="emailHelp" formControlName="asunto" placeholder="Asunto" />
                <div class="error-formulario">
                  <ng-container *ngFor="let validation of cotizarValidaciones.nombre">
                    <span class="error-message" *ngIf="
                        formContacto.controls.asunto.hasError(validation.type) &&
                        (formContacto.controls.asunto.dirty ||
                          formContacto.controls.asunto.touched)
                      ">
                      {{ validation.message }}
                    </span>
                  </ng-container>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" autocomplete="off" [class.error]="
                    formContacto.controls.phone.invalid &&
                    (formContacto.controls.phone.dirty ||
                      formContacto.controls.phone.touched)
                  " id="phone" aria-describedby="emailHelp" formControlName="phone" placeholder="phone" />
                <div class="error-formulario">
                  <ng-container *ngFor="let validation of cotizarValidaciones.nombre">
                    <span class="error-message" *ngIf="
                        formContacto.controls.phone.hasError(validation.type) &&
                        (formContacto.controls.phone.dirty ||
                          formContacto.controls.phone.touched)
                      ">
                      {{ validation.message }}
                    </span>
                  </ng-container>
                </div>
              </div>
              <div class="form-group">
                <textarea rows="5" type="text" class="form-control" id="mensaje" aria-describedby="emailHelp"
                  formControlName="mensaje" placeholder="Mensaje">
                </textarea>
              </div>
              <button type="submit" class="btn btn-cotizar" [disabled]="formContacto.invalid || total == 0">
                <span *ngIf="!loading"> ENVIAR </span>
                <div class="container-enviando" *ngIf="loading">
                  ENVIANDO
                  <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </button>
            </form>
          </div>
        </div>
        <div class="col-12 col-md-4 informacion">
          <h4 class="left_title">Bogotá – Sede principal</h4>
          <div class="icon_phone">+57 1 745-2882</div>
          <div class="icon_loc">
            Calle 23 No. 116 - 31, Oficina 301<br />Bogotá, Colombia
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
