<section class="demo-wrap">
  <div class="inicio-banner">
    <div class="container">
      <div class="section_big_title ">
        <h1 class="banner-title">Logística <strong>eficiente</strong></h1>
        <h2 class="banner-subtitle">Planeamos, ejecutamos transporte intermodal y almacenamiento.</h2>
        <a class="button-traking" href="#">Tracking</a>
      </div>
    </div>
  </div>
  <app-servicios></app-servicios>
  <div class="container basc-container">
    <div class="row">
      <div class="col-12 col-lg-6 text-center text-lg-right">
        <img class="imagen-basc" src="/assets/imagenes/inicio/basc-logo.jpg" alt="logo basc">
      </div>
      <div class="col-12 col-lg-6 certificacion text-center text-lg-left">
        <h1>Certificación</h1>
        <h2>Norma ISO 28000:2007</h2>
      </div>
    </div>
  </div>
</section>
