<div class="menu-fijo" [class.classHeader]="classHeader">
    <app-info-header></app-info-header>
    <app-nav-menu></app-nav-menu>
</div>
<div class="content" [class.classHeader]="classHeader">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<a class="whatsapp-link" href="https://api.whatsapp.com/send?phone=573168344312&text=Hola, este es el chat de UBOX, cuéntanos como podemos ayudarte" target="_blank">
    <img class="whatsapp" src="assets/imagenes/whatsapp.svg" alt="icono whatsapp">
</a>
