<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="conten-icon">
        <div class="icon_holder">
          <div class="icon_bgr"></div>
          <div class="icon_center">
            <i class="fa fa-users"></i>
          </div>
        </div>
        <h3>Espacios<br>
          para almacenar</h3>
        <p>Contamos con bodegas especializadas para el almacenamiento, que te permiten escoger el espacio ideal para tus
          necesidades.</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="conten-icon">
        <div class="icon_holder">
          <div class="icon_bgr"></div>
          <div class="icon_center">
            <i class="fa fa-lock"></i>
          </div>
        </div>
        <h3>Almacenamiento <br>
          de ultima milla</h3>
        <p>Disponemos de una operación logística con costos 100% flexibles que permitente utilizar el espacio el tiempo
          que lo necesites ayudándote a ser competitivo en tu negocio .<br>
        </p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="conten-icon">
        <div class="icon_holder">
          <div class="icon_bgr"></div>
          <div class="icon_center">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
        </div>
        <h3>Traslados desde <br>
          y hacia mini bodega</h3>
        <p>Contamos con un equipo de operaciones logísticas que permiten hacer los traslados de los productos que
          necesites almacenar o tener nuevamente disponibles en tu casa..</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="conten-icon">
        <div class="icon_holder">
          <div class="icon_bgr"></div>
          <div class="icon_center">
            <i class="fa fa-check"></i>
          </div>
        </div>
        <h3>Almacenamiento <br>
          de Archivo</h3>
        <p>Contamos con espacios y proceso especializados para el almacenamiento de tu archivo.</p>
      </div>
    </div>
  </div>
  <div class="row strech">
    <div class="text_box">
      <a routerLink="/servicios" class="button button_hilite small_button">Ver ventajas</a>
      <h2>Nuestras Ventajas</h2>
      <p>Conoce nuestro portafolio completo de servicios y solicita una cotización.</p>
    </div>
  </div>
</div>