@import "media-content";

.navbar {
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%);
    padding   : 0;

    &-nav {
        align-items: center;
    }
}

.navbar-brand {
    height: 72px;
}

.nav-menu-logo {
    max-height: 100%;
    width     : auto;
}

.nav-btn {
    background-color: var(--color-text-a-hover);
    line-height     : 46px !important;
    border-radius   : 5px;
    color           : var(--color-white) !important;
    border-bottom   : none !important;
    padding         : 2px 16px 2px !important;
}

.nav-link {
    font-family   : OpenSansSemiBold, sans-serif;
    text-transform: uppercase;
    font-size     : 14px;
}

.nav-item {
    cursor  : pointer;
    position: relative;

    hr {
        visibility: hidden;
        position  : absolute;
        width     : 100%;
        background: var(--color-text-a-hover);
        height    : 1px;
        margin-top: 16px;

        @include media-tablet {
            margin-top: 16px;
        }

        @include media-pc {
            margin-top: 16px;
        }

        margin-top: -6px;
    }

    &.active {
        hr {
            visibility: visible;
        }
    }

    &:hover {
        hr {
            visibility: visible;
        }
    }



    &:focus {
        outline: none;
    }
}