<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" routerLink="/inicio">
            <img class="select-icon" src="assets/imagenes/nav-menu/logo.jpeg" alt="logo nexos"
                class="nav-menu-logo d-inline-block align-top">
        </a>
        <button class="navbar-toggler mr-4" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" (click)="hideMenu()" routerLink="/inicio" routerLinkActive="active">
                    <a class="nav-link">Servicios</a>
                    <hr>
                </li>
                <li class="nav-item" (click)="hideMenu()" routerLink="/servicios" routerLinkActive="active">
                    <a class="nav-link">Ventajas</a>
                    <hr>
                </li>
                <li class="nav-item" (click)="hideMenu()" routerLink="/cotizar" routerLinkActive="active">
                    <a class="nav-link">Cotizar</a>
                    <hr>
                </li>
                <li class="nav-item" (click)="hideMenu()" routerLink="/cotizar-bodega" routerLinkActive="active">
                    <a class="nav-link">Busca tu Bodega</a>
                    <hr>
                </li>
                <li class="nav-item" (click)="hideMenu()" routerLink="/contacto" routerLinkActive="active">
                    <a class="nav-link">Contacto</a>
                    <hr>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link nav-btn" href="#">Login</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>